@import "src/scss/mixins";
@import "src/scss/variables";

.btn{
  @include resetButtonStyles;
  @include commonBtnText;
  background: $buttonColor;
  padding: .5em 1.5em;
  color: $buttonTextColor;
  border-radius: 5px;
}

