@import "../mixins";
@import "../variables";

.form {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__input {
    @include defaultFormStyles;
  }

  &__select {
    @include defaultFormStyles;
    max-width: 100%;
  }

  &__textarea {
    @include defaultFormStyles;
    padding: .3em .5em;
    resize: none;
    line-height: 1.1em;
  }

  &__label {
    @include defaultFormStyles;
    position: relative;
    background: transparent;
    padding: .3em 0;
    margin: 0;
  }

  &__hint{
    display: block;
    font-size: 18px;
    padding: 0.7em 0;
    color: #585f73;
    align-self: self-start;
  }
}

.eye-icon{
  cursor: pointer;
  position: absolute;
  top: 53px;
  right: 14px;
}
