@import "../variables";
@import "../mixins";
@import "../common";

.main{
  margin-top: 20px;
  min-height: 84vh;
}

.visit-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-gap: 20px;
  align-items: center;
  padding: 20px;
}

.no-visit-message{
  font-size: 50px;
  text-align: center;
  margin-top: auto;
}

.filter-section{
  margin-bottom: 20px;
}

.filterSelect{
  height: 25px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  margin: 3px;
  border-radius: 5px;
}
.filterSearch{
  height: 21px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  border: 0.5px solid;
  margin: 3px;
  border-radius: 5px;
}
.filterSearchBtn{
  height: 25px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  border-radius: 5px;
  border: 0.5px solid;
  background-color: $buttonColor;
  color: #f9f9f9;
  margin: 3px;
  cursor: pointer;
}
